Pflichtuebung 3 Beispiel/HelloGoodbye Beispiel/HelloGoodbyeClient/src/conf/wsdl/localhost_8080/HelloGoodbyeServer/HelloGoodbye.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hellogoodbye/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hellogoodbye/" name="HelloGoodbye">
<types>
<xsd:schema>
<xsd:import namespace="http://hellogoodbye/" schemaLocation="http://localhost:8080/HelloGoodbyeServer/HelloGoodbye?xsd=1"/>
</xsd:schema>
</types>
<message name="slowSayHello">
<part name="parameters" element="tns:slowSayHello"/>
</message>
<message name="slowSayHelloResponse">
<part name="parameters" element="tns:slowSayHelloResponse"/>
</message>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"/>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"/>
</message>
<message name="sayGoodbye">
<part name="parameters" element="tns:sayGoodbye"/>
</message>
<message name="sayGoodbyeResponse">
<part name="parameters" element="tns:sayGoodbyeResponse"/>
</message>
<portType name="HelloGoodbye">
<operation name="slowSayHello">
<input wsam:Action="http://hellogoodbye/HelloGoodbye/slowSayHelloRequest" message="tns:slowSayHello"/>
<output wsam:Action="http://hellogoodbye/HelloGoodbye/slowSayHelloResponse" message="tns:slowSayHelloResponse"/>
</operation>
<operation name="sayHello">
<input wsam:Action="http://hellogoodbye/HelloGoodbye/sayHelloRequest" message="tns:sayHello"/>
<output wsam:Action="http://hellogoodbye/HelloGoodbye/sayHelloResponse" message="tns:sayHelloResponse"/>
</operation>
<operation name="sayGoodbye">
<input wsam:Action="http://hellogoodbye/HelloGoodbye/sayGoodbyeRequest" message="tns:sayGoodbye"/>
<output wsam:Action="http://hellogoodbye/HelloGoodbye/sayGoodbyeResponse" message="tns:sayGoodbyeResponse"/>
</operation>
</portType>
<binding name="HelloGoodbyePortBinding" type="tns:HelloGoodbye">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="slowSayHello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayGoodbye">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HelloGoodbye">
<port name="HelloGoodbyePort" binding="tns:HelloGoodbyePortBinding">
<soap:address location="http://localhost:8080/HelloGoodbyeServer/HelloGoodbye"/>
</port>
</service>
</definitions>